.calc{
    margin-top: 30px;
    padding: 150px 563px;
    /* border: 2px solid black; */
}
.out{
    display: flex;
    justify-content: end;
    align-items: flex-end;
}
.a{
    
}
.btn{
    color: #d4d4d2;
    background-color: #505050;
    border-radius: 51px;
    width: 51px;
    padding: 12px;
    margin: 3px 10px;
}
.fr{
    background-color: #d4d4d2;
    color: black;
}
.fr:hover{
    color: #ff9500;
}
.fl{
    color: white;
    background-color: #ff9500;
    font-weight: 400;
}
.c{
    width: 99px;
    border-radius: 25px;
}